DirectoryIndex index.cfm
<IfModule mod_rewrite.c>RewriteEngine OnRewriteCond %{REQUEST_FILENAME} /api/RewriteCond %{REQUEST_FILENAME} !/api/index.cfmRewriteCond %{REQUEST_FILENAME} !/api/resourcesRewriteRule ^/taffy/(.*) /api/index.cfm?endpoint=/$1 [PT]</IfModule>